body{margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(90deg, rgb(253, 247, 247), rgb(216, 211, 211)) ;
}

div{
    padding: 10px;
    border-radius: 20px;
}
.form{
    width: 400px;
    margin: auto;
    padding-top: 5px;
}
.card-group{
    margin-bottom: 0px;
}
.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: rgb(75, 72, 72);
    padding: 15px;
}
.card-top{
    text-align: center;
}
.img{
    width: 100px;
    border-radius: 50px;
    box-shadow: 1px 1px 5px #ccc;
}
.card-group >input{
    border-radius: 2px;
    width: 100%;
    height: 15px;
    padding: 15px;
}
.card-group >button{
    width: 45%;
    background-image: linear-gradient(90deg, cyan, rgba(20, 155, 245, 0.938));
    border-radius: 30px;
}

*{margin: 0 auto; padding: 10px ; 
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;}
#menu-horizontal{ list-style: none; padding: 0; 
    background-color: rgb(197, 191, 191)}
#menu-horizontal li{ display: inline;}
#menu-horizontal li a{ color:black; 
    text-decoration: none; 
    padding: px;
     display: inline-block; 
     transition: background 0.1s ;}
#menu-horizontal li a:hover{ background-color: rgba(136, 204, 250, 0.938);}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(146, 141, 141);
    padding: 15px;
}
.formulario {
    border: 1px solid whitesmoke;
    border-radius: 0.3em;
    padding: 0.3em;
}
.formulario input, form button {
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 05px;
}
.formulario button {
    cursor: pointer;
    background: none;
    color: whitesmoke;
}
